        <link rel="stylesheet" href="/css/user_profile.css" type="text/css">
        <h1 class="profile-heading">
            <%=title%> / Social
        </h1>

        <p>
        <img src="<%= user.avatar %>" alt="<%=user.name %>" width="100" style="margin-left: 20px;">
        </p>

        <% if(user.id == profile_user.id) { %>
            <!-- if user matches then show the form -->
            <form action="/users/update/<%= profile_user.id %>" method="POST" enctype="multipart/form-data" class="profile-update-form">
                <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
                <input type="email" name="email" placeholder="Your email" value="<%= profile_user.email %>" required>
                <input type="file" name="avatar" placeholder="Profile Picture">
                <input class="submit-btn" type="submit" value="Update">
            </form>
        <% }else{ %>
            <!-- else show only the profile -->
            <div class="user-details">
            <p>NAME: <%= profile_user.name %></p>
            <p>EMAIL: <%= profile_user.email %></p>
            </div>
        <% } %>